@using Microsoft.AspNetCore.Http.Extensions

@{
    var theme = "";

    if (Context.Request.Cookies.Keys.Contains("theme"))
    {
        theme = Context.Request.Cookies["theme"];;
    }
    else
    {
        Context.Response.Cookies.Append("theme", "dark-theme");
    }
}


<!DOCTYPE html>
<html lang="fr" class="no-js @theme">
    <head>
        <title>@ViewBag.Title - Melodie</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Poppins:wght@400;500;600&display=swap"/>
        <link rel="stylesheet" href="~/css/normalize.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
        
        <!-- Necessary for the input file to work for everyone -->
        <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>
    </head>
    <body class=" @(ViewBag.BodyClasses != null ? ViewBag.BodyClasses : "")">
        @if (ViewBag.NoHeader == null)
        {
            <!-- Header -->
            <header>
                <!-- Theme selector -->
                <div class="header-section left">
                    <div id="theme-selector-wrapper">
                        <a id="theme-selector" class="disable-visited" asp-controller="Home" asp-action="ChangeTheme" asp-route-url="@Context.Request.GetEncodedUrl()">
                            <div id="theme-selector-icon">
                                <object id="dark-icon" class="theme-icon" data="/images/nights_stay-24px.svg" type="image/svg+xml">
                                    <img src="/images/nights_stay-24px.png" alt="Dark mode"/>
                                </object>

                                <object id="light-icon" class="theme-icon" data="/images/wb_sunny-24px.svg" type="image/svg+xml">
                                    <img src="/images/wb_sunny-24px.png" alt="Light mode"/>
                                </object>
                            </div>

                            <div id="theme-selector-text">
                                <span id="dark-theme-text">Th&egrave;me sombre</span>
                                <span id="light-theme-text">Th&egrave;me clair</span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Logo -->
                <div class="header-section center">
                    <div class="app-logo"></div>
                </div>

                <!-- User info -->
                <div class="header-section right">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <a class="user-display disable-visited" asp-controller="User" asp-action="Disconnect">
                            <img src="https://cdn130.picsart.com/329072184134211.png?type=webp&to=min&r=640" alt="Profile pic"/>
                            <p>@User.Identity.Name</p>
                        </a>
                    }
                    else
                    {
                        // TODO: Change to Connect button after login system
                        <a class="user-display disable-visited" asp-controller="User" asp-action="Disconnect">
                            <img src="/images/user_profile_pic.png" alt="Profile pic"/>
                            <p>Spoon Overlord</p>
                        </a>
                    }
                </div>
            </header>
        }
        
        <!-- Body -->
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <!-- Scripts -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/GlobalFunctions.js"></script>
        <script src="~/js/CustomInputFile.js"></script>
        <script src="~/js/FooterFixer.js"></script>
        <!--<script src="~/js/ThemeChanger.js"></script>-->
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
